<h1>Editing Event</h1>

<%= form_tag( edit_event_path(event), method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag 'Search' %>
<% end %>

<%= render 'form', event: @event %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>
