<div class="media align-items-center">
  <div class="media-body"><h1>Events</h1></div>
  <div class=""><%= link_to 'New Event', new_event_path %></div>
</div>
<% @events.each do |event| %>
  <%= link_to event, {:style=>"background-image: url(#{event.photo});", :class => "gram-event"} do %>
    <div class="gram-event__overlay">
      <h6 class="gram-event__bucket"><%= event.bucket %></h6>
      <h2 class="gram-event__title"><%= event.title %></h2>
      <h5 class="gram-event__days"><%= ( event.event_date - Date.today() ).to_i %> Days</h5>
    </div>
  <% end %>
<% end %>