<h1>New Event</h1>

<%= form_tag( new_event_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag 'Search' %>
<% end %>

<%= render 'form', event: @event %>

<%= link_to 'Back', events_path %>
